[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==3.5.0"
requests = "==2.18.4"
twisted = "==19.7.0"
numpy = "==1.14.2"
scipy = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.6"
